@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
* {
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    font-family: "Electrolize", sans-serif;
}
main {
    display: flex;
    justify-content: center;
    height: 100vh;
}
.nav-cart {
    height: 8vh;
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: rgb(92, 0, 0);
    box-shadow: 0px 0px 14px black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
    color: white;
}
.back {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-left: 2rem;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}
.username {
    margin-right: 2rem;
    font-weight: bold;
    font-size: 2vh;
}
.cart-board {
    display: flex;
    flex-direction: column;
    width: 74vw;
    margin-top: 7vh;
}
.cart-info {
    display: grid;
    border-bottom: 1px solid black;
    align-items: center;
    padding-bottom: 0.5vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    font-weight: bold;
}
.info-types {
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
    width: 100%;
}
.quantity {
    display: flex;;
    gap: 3rem;
    justify-content: flex-end;
    margin:auto;
    width:100%;
}
.cart-card {
    padding: 5vh 0vh 5vh 0vh;
    border-bottom: 1px solid black;
}
.cart-symbols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items:center;
}
.quantity-icons {
    display:flex;
    flex-direction: row;
    gap: 2vw;
}
.item-pic {
    height: 40px;
}
.payment {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 13vh;
    padding: 3vh 0vh 3vh 0vh;
    align-items: center;
}
.fas {
    font-size: 24px;
    cursor: pointer;
}
.total-price {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1.5vh 0vh 1.5vh 0vh;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    font-size: 24px;   
}
.confirm > button {
    border-radius: 8px;
    cursor: pointer;
    padding: 1vh 2vw 1vh 2vw;
    background-color: gray;
    color: white;
    font-size: 24px;
}
footer {
    height: 24vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
    color: white;
    font-weight: bold;
    border-top: 2px solid black;
}
p:hover {
    cursor: pointer;
}



@media only screen and (max-width: 768px) {
    .cart-board {
        width: 94vw;
    }
    .payment {
        display: flex;
        flex-direction: column;
        height: 30vh;
    }
}