@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
* {
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    font-family: "Electrolize", sans-serif;
}
body {
    background-color: rgb(170, 170, 170);
}
main {
    display: flex;
    justify-content: center;
    /* margin-top: 4vh; */
    height: 100vh;
}
.nav-cart {
    height: 11vh;
    border: 1px solid red;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.back {
    display: flex;
    gap: 1.25rem;
    margin-left: 2rem;
}
.username {
    margin-right: 2rem;
    font-weight: bold;
    font-size: 2vh;
}
.cart-board {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 7vh;
}
.cart-info {
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    padding-bottom: 0.5vh;
}
.info-types {
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
    width: 100%;
}
.quantity {
    display: flex;;
    gap: 3rem;
    justify-content: flex-end;
    margin:auto;
    width:100%;
}
.cart-list {
    display:flex;
    justify-content: center;
}
.cart-card {
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
    align-items: center;
    padding: 5vh 0vh 5vh 0vh;
    border-bottom: 1px solid black;
    width: 100%;
}
.payment {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 13vh;
    padding: 3vh 0vh 3vh 0vh;
    align-items: center;
}
.fas {
    font-size: 24px;
    cursor: pointer;
}
.total-price {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1.5vh 0vh 1.5vh 0vh;
    font-size: 24px;
}
.confirm > button {
    padding: 1.5vh 3vw 1.5vh 3vw;
    border-radius: 8px;
    cursor: pointer;
}
footer {
    height: 24vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
    color: white;
    font-weight: bold;
    border-top: 2px solid black;
}