@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
* {
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    font-family: "Electrolize", sans-serif;
}
main {
    display: flex;
    justify-content: center;
    height: 100vh;
}
.nav-cart {
    height: 8vh;
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: rgb(92, 0, 0);
    box-shadow: 0px 0px 14px black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
    color: white;
}
.back {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
    cursor: pointer;
    font-weight: bold;
}
.fa-arrow-left, .back-text {
    font-size: clamp(16px, 3vw, 24px);
}
.nav-home-button {
    padding: 1vh 1vw 1vh 1vw;
    background-color: gray;
    cursor: pointer;
    border-radius: 0.5vh;
    color:white;
    margin-top: 0;
    font-size: 16px;
}
.fa-house {
    padding-right: 20px;
}
.nav-home-button {
    margin-right: clamp(0px, 3vw, 30px);
}
h1 {
    font-size: clamp(24px, 3vw, 54px)
}
.cart-board {
    display: flex;
    flex-direction: column;
    width: 74vw;
    margin-top: 7vh;
}
.cart-info {
    display: grid;
    border-bottom: 1px solid black;
    align-items: center;
    padding-bottom: 0.5vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    font-weight: bold;
}
.info-types {
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
    width: 100%;
}
.quantity {
    display: flex;;
    gap: 3rem;
    justify-content: flex-end;
    margin:auto;
    width:100%;
}
.cart-card {
    padding: 2.5vh 0vh 2.5vh 0vh;
    border-bottom: 1px solid black;
}
.cart-symbols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items:center;
}
.quantity-icons {
    display:flex;
    flex-direction: row;
    gap: 2vw;
}
.item-pic {
    height: 9vh;
}
.item-name {
    font-size: clamp(8px, 0.7vw, 30px)
}
.payment {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 13vh;
    padding: 3vh 0vh 3vh 0vh;
    align-items: center;
}
.fas {
    font-size: 24px;
    cursor: pointer;
}
.total-price {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1.5vh 0vh 1.5vh 0vh;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.total-text {
    padding-top: 4px;
}
p {
    font-size: 24px;   
}
.confirm > button {
    border-radius: 8px;
    cursor: pointer;
    padding: 1vh 2vw 1vh 2vw;
    background-color: gray;
    color: white;
    font-size: 24px;
}
.confirm > button:hover {
    background-color: darkgreen;
    transition: 0.5s;
}
footer {
    height: 24vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
    color: white;
    font-weight: bold;
    border-top: 2px solid black;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
    .cart-board {
        width: 94vw;
    }
    .payment {
        display: flex;
        flex-direction: column;
        height: 30vh;
    }
    .item-pic {
        height: 5.5vh
    }
    .back {
        margin-left: 1rem;
    }
    .username {
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .cart-info {
        justify-items: end;
        grid-template-columns: 1fr 1fr 0.85fr;
    }
    .extra-space2, .extra-space1 {
        display: none;
    }
    .cart-symbols {
        justify-items:start;
        grid-template-columns: 0.5fr 0.5fr 1.1fr 1fr 1fr;
    }
    .price {
        margin-left: auto;
    }
    .item-pic {
        height: 4vh
    }
}


@media only screen and (max-width: 500px) and (min-width: 440px)  {
    .quantity-icons {
        margin-left: 10px;
    }
}