@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
:root {
    --bg-color: rgb(20, 20, 20);
}
* {
    font-family: "Electrolize", sans-serif;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}
body {
    background-color: var(--bg-color);
}
main {
    display: flex;
    justify-content: center;
    height: 92vh;
    align-items: center;
}
.nav-home {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(92, 0, 0);
    box-shadow: 0px 0px 14px black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
    height: 8vh;
}
.logo {
    margin-left: 2rem;
    display: flex;
    gap: 1.25rem;
    font-size: 24px;
}
.title {
    font-weight: bold;
}
.nav-account, .nav-cart {
    margin-right: 2rem;
    font-size: 16px;
    background-color: none;
    padding: 1vh 2vw 1vh 2vw;
    background-color: gray;
    border-radius: 0.5vh;
}
a {
    text-decoration: none;
    color: white;
}
.cards {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-bottom: 25vh;
    width: 90%;
    justify-content: space-around;
}
.card {
    border-radius: 10px;
    cursor: pointer;
    height: 260px;
    width: 430px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-content {
    transition-timing-function: ease-in-out;
    transition-duration: 0.24s;
    position: absolute;
    font-size: 34px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.card-content:hover {
    transform: scale(1.5);
    border-bottom: 3px solid white;
}
img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    opacity: 40%;
}
img:hover {
    opacity: 100%;
    transition: opacity 1s;
}
.underline {
    text-decoration: underline;
}
footer {
    height: 24vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
    color: white;
    font-weight: bold;
    border-top: 2px solid black;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 940px) {
    .cards {
        flex-direction: column;
        gap: 3vh;
        margin-bottom: 0;
        align-items: center;
    }
    .card {
        height: 200px;
        width: 300px;
    }
    .card-content {
        font-size: 24px;
    }
    .logo, .nav-account {
        margin: 4vw;
    }
    .title {
        display: none;
    }
}