:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
}
* {
    margin:0;
    padding:0;
}
body {
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}
#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 916px;
    width: calc(100%-20px);
}
#cards:hover > .card > .card-border {
    opacity: 1;
}
.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    height: 260px;
    position: relative;
    width: 300px;
}
.card:hover::before {
    opacity: 1;
}
.card::before,
.card > .card-border {
    background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06), 
    transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}
.card::before {
    background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06), 
    transparent 40%
    );
    z-index: 3;
}
.card > .card-content {
    background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.3), 
    transparent 40%
    );
    z-index: 1;
}
.card > .card-border {
    background-color: var(--card-color);
    border-radius: inherit;
    height: calc(100%-2px);
    margin: 1px;
    position: relative;
    width: calc(100%-2px);
    z-index: 2;
    
}