@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
* {
  font-family: "Electrolize", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
.nav-login {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: rgb(92, 0, 0);
    box-shadow: 0px 0px 14px black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: clamp(0px, 3vw, 30px);
    display: flex;
    gap: 1.25rem;
    font-size: 24px;
    font-weight: bold;
}
.nav-home-button {
    padding: 1vh 1vw 1vh 1vw;
    background-color: gray;
    cursor: pointer;
    border-radius: 0.5vh;
    color:white;
    margin-top: 0;
    font-size: 16px;
}
.fa-house {
    padding-right: 20px;
}
.nav-home-button {
    margin-right: clamp(0px, 3vw, 30px);
}
main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signup-header {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    animation: fadeIn 1s;
    color: white;
}
@keyframes fadeIn {
from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
}
to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
}
.formContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 16px;
    width: clamp(280px, 40vw, 600px);
    background-color: rgb(29, 29, 29);
    border-radius: 4px;
    box-shadow: 0px 0px 8px black;
    margin-bottom: 20vh;
    height: 30vh;
}
.labels {
    color: white;
    padding: 5px 0px 5px 0px;
}
.agreement {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.terms {
    color: rgb(0, 247, 255);
    background-color: rgb(29, 29, 29);
    font-size: 11px;
}
input[type="username"],
input[type="password"] {
    font-size: clamp(16px, 4vw, 24px);
    padding: 7px;
    /* width: clamp(100px, 35vw, 600px); */
}
.login-button {
    font-size: clamp(16px, 4vw, 24px);
    font-weight: bold;
    background-color: rgb(10, 119, 13);
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    /* width: clamp(100px, 40vw, 600px); */
    margin-top: 10px;
}
.buttons{
    cursor: pointer;
    background-color: rgb(154, 0, 0);
    padding: 2px 4px;
    border-radius: 4px;
}
.buttons:hover {
    background-color: rgb(84, 0, 0);
}
a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
}
footer {
    height: 24vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8));
    color: white;
    font-size: clamp(10px, 2vw, 24px);
}

