@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Electrolize", sans-serif;
    scroll-behavior: smooth;
}
article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: absolute;
}
.left-panel {
    /* border: 3px solid blue; */
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr 2fr;
}  
.right-panel {
    /* border: 3px solid blue; */
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr 2fr;
}  
.logo {
    padding-left: 2vw;
    border: none;
    background-color: transparent;
}
.logo > button {
    border: none;
}
.fa-check-double {
    color: black;
    font-size: 32px;
}
.home {
    margin-right: 2vw;
}
.nav-left {
    justify-content: space-between;

}
.nav-right {
    justify-content: space-around;
}  
.nav-left, .nav-right {
    display: flex;
    border: 3px solid red;
    align-items: center;
    height: 11vh;
}
.nav-cart, .nav-account, .home {
    padding: 1vh 2vw 1vh 2vw;
    background-color: gray;
}
a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
button, .italic {
    cursor: pointer;
    border-radius: 0.5vh;
    background: transparent;
    color:white;
} 
.description {
    display: flex;
    flex-direction: column;
    padding: 4vh;
    border: 3px solid blue;
}
h2, p, .italic {
    margin: auto;
}
.italic {
    color: black;
}
.arrow-nav {
    border: 3px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.arrow-nav > button {
    font-size: 72px;
    background: transparent;
    border: none;
    color:black;
}
.fa-left-long:hover, .fa-right-long:hover {
    color: red;
    transition: 0.4s;
    opacity: 1;
}
img {
    border: 3px solid green;
    margin: auto;   
    width: 63vw;
    height: 60vh;
}
.product-title {
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    padding-left: 2vw;
}
h3 {
    display: none;
}
.nav-links {
    display: none;
    position: fixed;
}
.fa-bars {
    cursor: pointer;
}
/* SLIDES LOGIC */

/* article {
    position: absolute;
} */
article[data-status="becoming-active-from-before"], article[data-status="becoming-active-from-after"] {
    transform: translateX(-50%) scale(0);
    transition: none;
} 
article[data-status="before"], article[data-status="after"] {
    transform: translateX(50%) scale(0);
}
article[data-status="inactive"] {
    display: none;
}

/* MEDIA QUIERIES */

@media only screen and (max-width: 768px) {
    h1 {
        display: block;
        border-bottom: 3px solid black;
    }
    article {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .nav-right {
        display:none;
    }
    .description {
        padding: 0 2vw 0 2vw;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 35vh;
    }
    .left-panel {
        height: 50vh;
    }
    .right-panel {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .product-image {
        padding-top: 1vh;
        border: none;
    }
    img {
        width: 96vw;
        height: 34vh;
    }
    .arrow-nav {
        height: 14vh;
    }
    .nav-left, .nav-right {
        height: 8vh;
    }
    .mobile-nav-account, .mobile-nav-cart {
        padding: 1vh 2vw 1vh 2vw;
        background-color: gray;
    }
    .burger-menu {
        font-size: 32px;
        display: flex;
        flex-direction: column;
        padding-right: 2vw;
    }
    .burger-active {
        display: block;
        border: 2px solid red;
        height: 50vh;
    }
    /* .burger-menu {
        margin-right: 30vw;
        margin-top: 13vh;
    } */
}