@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
:root {
    --bg-color:rgb(7, 11, 21);
    --border-color:rgba(255,255,255,0.21)
}
* {
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    font-family: "Electrolize", sans-serif;
}
body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;      
    box-sizing: border-box;
}
/* HIDDEN SKA VARA PÅ MEN VI FÅR HITTA ANNAT SÄTT ATT MAN FÅR HELA CONTENT I BILD UTAN ATT SKROLLA!!! */ 
main { 
    flex-grow: 1;
    position: relative;
}
main > article {
    display: grid;
    height: 75%;
    /* FIXA HEIGHT */
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    position: relative;
    left: 0px;
    top: 0px;
}
main > article[data-status="inactive"] {
    transform: translateX(-100%);
}
main > article > .article-section {
    height: 100%;
    border: 1px solid var(--border-color);
}
/* main > article > .article-description-section, main > article > .article-nav-section {
    border-left: 1px solid var(--border-color);
}
main > article > .article-title-section, main > article > .article-nav-section {
    border-top: 1px solid var(--border-color);
} */
.nav-products {
    display: flex;
    width: 100vw;
    border-bottom: 1px solid var(--border-color);
}
.nav-products > .nav-section {
    padding: 3rem 2rem;
    display: flex;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}
#nav-home {
    flex-grow: 1;
}
#nav-home {
    display: flex;
    justify-content: space-between;
}
#nav-home > a > i {
    font-size: 2.5rem;
}
h1, h2, h3, a, p, span {
    font-weight: 400;
    color: white;
}
a {
    text-decoration: none;
}
.article-nav-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}
.article-right-nav, 
.article-left-nav {
    font-size: 74px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: none;
}
article[data-index="0"] > .article-image-description {
	background-image: url("/IMAGES/11.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
article[data-index="1"] > .article-image-description {
	background-image: url("/IMAGES/22.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
article[data-index="2"] > .article-image-description {
	background-image: url("/IMAGES/33.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
article[data-index="3"] > .article-image-description {
	background-image: url("/IMAGES/44.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.product-description {
    padding: 2vh;
    display: flex;
    flex-direction: column;
}
.product-description > p {
    display: column;
    justify-content: flex-end;
}
article[data-status="becoming-active-from-before"] {
    transform: translateX(-100%);
    transition: none;
} 
.article-title-section {
    display: flex;
    align-items: center;
}