:root {
    --bg-color:rgb(7, 11, 21);
    --border-color:rgb(255,255,255,0.1)
}
* {
    box-sizing: border-box;
}
body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    height: 100px;
    margin: 0px;
    overflow: hidden;
}
main { 
    flex-grow: 1;
    position: relative;
}
main > article {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px;
}
main > article[data-status="inactive"] {
    transform: translateX(-100%);
}
main > article > .article-section {
    height: 100%;
    border: 1px solid var(--border-color);
}
main > article > .article-description-section, main > article > .article-nav-section {
    border-left: 1px solid var(--border-color);
}
main > article > .article-title-section, main > article > .article-nav-section {
    border-top: 1px solid var(--border-color);
}
.nav-products {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}
.nav-products > .nav-section {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}
#nav-logo-section, #nav-link-section {
    flex-basis: calc(100% / 3);
}
#nav-social-section, #nav-contact-section {
    flex-grow: 1;
}
#nav-social-section {
    justify-content: flex-start;
}
#nav-logo-section > a > i {
    font-size: 2.5rem;
}
#nav-link-section {
    gap: 6rem;
}
#nav-social-section {
    gap: 3rem;
}
h1, h2, h3, a, p, span {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: white;
}
a {
    text-decoration: none;
}